@use "../../library" as themes;
@import "../../common";

.overviewContainer {
  background-color: white;
  align-items: center;
  padding: 5px;
  margin: 0px 0px 8px 0px;
}

.questionsContainer {
  background-color: white;
  height: 100%;
}