@use "../../library" as themes;
@import "../../common";



.maincontainer {
    background-color: #F8F8F8;
    height: 100%;

}

.main {
    background-color: white;
    margin-bottom: 10px;
}


.card {
    display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.title1 {
    @extend .p1;
    @extend .title2-bcr;
    padding: 8px 8px 8px;

    color: black;
    border-radius: 5px;
    flex-direction: row;
    font-weight: 600;
    line-height: 16.79px;
}

.container {
    // height:100%;
    background-color: white;
    margin-bottom: 3px;
}


.cards {
    margin-bottom: 20px;

}

.point {
    margin-left: 24px;
    // margin-right: 291px;
    width: 20%;
    margin-top: 16px;
    border: 1px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 16px;
    margin-bottom: 20px;

}

.num {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-left: 16px;
    color: black;
    margin-right: 8px;

}

.txt {

    padding-left: 40px;
    padding-right: 16px;

}

.txt1 {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 34px;
    padding-right: 24px;

}

.text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    color: black;
    font-size: 14px;
    // line-height: 19px;
    // padding-bottom: 20px;
    margin-left: 24px;

}

.a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
    color: black;
    margin-top: 8px;
    padding-left: 10px;
}

.text1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    // line-height: 19px;
    // padding-bottom: 20px;
    color: black;
    margin-left: 12px;
    margin-right: 30px;
    // margin-top: 8px;

}

.b {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
    color: black;
    margin-top: 8px;
    padding-left: 10px;
}

.text2 {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
    color: black;
    margin-left: 12px;
    margin-right: 30px;
    margin-top: 8px;
}

.c {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
    color: black;
    margin-top: 8px;
    padding-left: 10px;
}

.text3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
    color: black;
    margin-left: 12px;
    margin-right: 30px;
    margin-top: 8px;
}

.d {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
    color: black;
    margin-top: 8px;
    padding-left: 10px;
}

.text4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin-left: 12px;
    margin-right: 30px;
    margin-top: 8px;

}

.hint {
    margin-left: 34px;
    margin-top: 28px;
    font-family: 'OpenSans-Regular';
    font-weight: 600;
    font-size: 10px;
    height: 14px;
    color: black;
    margin-bottom: 16px;

}

.fottertext {

    margin-top: 25.5px;
    // margin-bottom:25.5px;
    color: black;
    margin-right: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;


}

.footer {
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 16px;
    @extend .input-bcr;
}

.gap {

    height: 8px;
    @extend .card-bcr;

}


.button {

    @extend .footer-bcr;
    margin-top: 16px;
    padding: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 16px;

    justify-content: center;
}

.nextContainer {
    flex-direction: row;
}