@use "../../library" as themes;
@import "../../common";




.mainContainer {
  background-color: white;
  position: relative;
}

.left {

  padding: 15px 14px;
  margin-top: 40px;
  flex-direction: row;
  margin-left: 12px;
}

.p {
  font-family: Open sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 25px;
  margin-left: 17px;
}

.gap {

  height: 8px;
  @extend .card-bcr;

}

.main1 {
  background-color: white;
  margin-bottom: 10px;
}

.head {
  flex-direction: row;
}

.texthead {
  margin-top: 6px;
  padding-left: 20px;

}

.text {
  padding: 2px;
  font-weight: 700;
  color: black;
  margin-top: 15px;
  background-color: #F8F8F8;
  width: 100%;
  height: 24px;
  font-size: 15px;
  border-radius: 2px;
}

.img {
  margin-top: 26px;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 24px;

}

.image {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  margin-right: 16px;

}

.p1 {
  font-family: Open sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-left: 16px;
  color: black;

}

.p2 {
  font-family: Open sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
  color: black;
}

.examDetail {
  margin-top: 6px;
  padding-left: 18px;

}


.flex1 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.flex2 {

  flex-direction: row;
}

.icon {
  height: 38px;
  width: 42px;
  background-color: yellow;
  border-radius: 4px;
  margin-right: 6px;


}

.duration {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.duration1 {
  margin-top: 5px;
  margin-left: 12px;
  color: black;
}

.fullmark {
  margin-left: 60px;
  flex-direction: row;
}

.fullmarks {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.fullmarks1 {
  margin-top: 5px;
  margin-left: 15px;
  color: black;

}

.pass {
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 10px;
}


.passmarks {
  margin-top: 4px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.passmarks1 {
  margin-top: 5px;
  margin-left: 15px;
  color: black;
}

.p3 {
  font-family: Open sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  margin-left: 16px;
  color: black;
  margin-top: 16px;
}

.footer {
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  bottom: 0%;
  width: 100%;
  padding: 16px;
  @extend .input-bcr;
}

.p4 {
  font-family: Open sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  margin-left: 16px;
  color: black;
}

.button {
  background-color: #2E3192;
  margin-bottom: 16px;

}

.p5 {
  font-family: Open sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  margin-left: 16px;
  color: black;
}