@use "../../library" as themes;
@import "../../common";



.main {
    background-color: #F8F8F8;

    margin-top: 10px;
    margin-left: 18px;
    margin-right: 18px;
    border-radius: 5px;
}

.left {
    // background-color: aqua;
    padding: 15px 20px;
    margin-top: 40px;
    flex-direction: row;
}

.CustomDropDown {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 10px;
    padding-left: 18px;
    margin-bottom: 10px;
}


.button {
    @extend .button-bcr;
    border: solid;
    padding: 15px;
    margin-left: 18px;
    width: 90%;
    margin-top: 30px;
}




.p {
    font-family: Open sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 25px;
    margin-left: 10px;
}


.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    margin-left: 2px;
    margin-top: 3px;
    border-radius: 10px;
    border-color: black;



}

.title {
    padding: 10px;
    padding-right: 16px;
    padding-left: 15px;
    margin-left: 8px;
    border-radius: 4px;
    color: black;
    @extend .title-bcr;
    font-weight: 700
}

.title1 {
    @extend .title1-bcr;
    padding: 10px;
    padding-right: 16px;
    padding-left: 15px;
    margin-left: 7px;
    border-radius: 4px;
    color: black;
    font-weight: 700;

}

.text {
    font-family: 'Open Sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: black;
    padding-left: 80px;

}

.amount {
    align-items: flex-end;
    padding-right: 16px;
    padding-left: 80px;
    color: black;
    margin-top: 6px;
    margin-bottom: 15px;


}

.icon {
    height: 38px;
    width: 42px;
    background-color: yellow;
    border-radius: 4px;
    margin-right: 6px;
}

.searchandfilter {
    flex-direction: row;
}

.filter {
    margin-left: 15px;
    margin-top: 25px;
    height: 35px;
    width: 35px;


}