@use "../../library" as themes;
@import "../../common";



.maincontainer {
  @extend .card-bcr;
  height: 100%;
  position: relative;


}

.left {

  padding: 16px;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 16px;
  @extend .input-bcr;


}

.p {

  @extend .P;
  line-height: 25px;
  margin-left: 10px;
}

.gap {

  height: 15px;
  @extend .card-bcr;

}

.baseText {
  @extend .P;
  margin-left: 16px;

}

.Text {
  @extend .h6;
  margin-left: 16px;
  margin-bottom: 24px;
}

.price {
  font-Weight: 700;
  font-size: 24px;
  margin-left: 16px;
  color: #2E3192;
  padding-bottom: 16px;
}

.Texts {
  margin-left: 16px;

}


.text {

  @extend .input-bcr;
  padding-top: 16px;

}

.title {
  @extend .P;
  margin-left: 16px;
  margin-bottom: 16px;



}

.header1 {
  margin-left: 16px;

  @extend .h5;

}

.header2 {
  margin-left: 16px;

  @extend .h5;
  padding-bottom: 16px;
}

.gaps {

  height: 306px;
  @extend .card-bcr;
}

.button {

  @extend .footer-bcr;
  margin-left: 78px;


}

.footer {
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12%;
  padding: 16px;
  @extend .input-bcr;
}

.image {
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin-left: 24px;

}

.fottertext {

  margin-top: 15px;

  @extend .p1;
  margin-right: 25px;


}