@use "../../library" as themes;
@import "../../common";


.p {

   @extend .H;
   line-height: 29px;

   margin-bottom: 16px;
   margin-left: 16px;
}

.card {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 16px;

}

.pagiStyle {
   padding: 24px 0px 16px 0px;
}

.file {
   padding: 18px;
   border-radius: 5px;
   padding-right: 16px;
   background: #FFCB05;
   margin-right: 20px;
   padding-left: 16px;
   padding-top: 18px;
}

.title {
   @extend .title-bcr;
   padding: 8px;
   padding-right: 8px;
   margin-right: 12px;
   color: black;
   border-radius: 5px;
   @extend .p1;
}

.title1 {
   @extend .title1-bcr;
   padding: 8px 8px 8px;
   color: black;
   border-radius: 5px;
   @extend .p1;
}

.text {
   padding-left: 16px;
   // width: 95%;
   // height: 22px;
   margin-left: 43px;
   margin-bottom: 15px;
   @extend .h5;
   font-family: 'OpenSans-Bold';


}

.txt {
   font-family: 'Open Sans-serif';
   font-style: normal;
   font-weight: 600;
   font-size: 19px;
   line-height: 19px;
   color: black;
   padding-top: 16px;
}

.amount {
   align-items: flex-end;
   padding-right: 16px;
   padding-left: 18px;

   margin-left: 53px;
   @extend .h6;
   padding-bottom: 16px;

}

.button {
   @extend .button-bcr;
   border: solid;
   padding: 15px;
   margin-left: 20px;
   width: 90%;
   font-weight: 600;
   margin-bottom: 20px;

}

.navbar {
   margin-top: 10px;
   margin-bottom: 8px;
   @extend .input-bcr;

}

.pagiDot {
   width: 60px;
   height: 5px;
}

.inactDotStyle {
   width: 60px;
}

.paginationContainers {
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 0px 0px 16px 0px;
}

.image {
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;


}

.div {
   margin-top: 8px;

}

.main {
   @extend .title1-bcr;
   padding: 8px;
   padding-right: 8px;
   padding-left: 8px;
   @extend .p1;
   border-radius: 5px;
   margin-top: 10px;
   margin-left: 20px;
   flex-direction: row;
}

.main1 {
   @extend .title-bcr;
   border-radius: 5px;
   @extend .p1;
   margin-top: 10px;
   padding: 8px;
   padding-right: 8px;
   padding-left: 10px;
   margin-left: 12px;
}

.info {
   padding-left: 16px;
   margin-left: 20px;
   @extend .h6;
   margin-bottom: 15px;

   flex: 1;
   flex-shrink: 1;

}

.date {
   align-items: flex-end;
   padding-right: 16px;
   padding-left: 20px;
   @extend .h6;
   margin-left: 38px;



}

.data {
   align-items: flex-end;
   padding-right: 16px;
   padding-left: 16.75px;

   margin-left: 38px;
   @extend .p1;
   margin-top: 8px;
   margin-bottom: 40px;

}

.division {
   @extend .input-bcr;

}

.cards {
   @extend .card-bcr;
   margin-right: 16px;
   margin-left: 16px;

}

.navbar {
   margin-bottom: 8px;
}

.gap {

   height: 8px;
   @extend .card-bcr;

}