@use "../../library" as themes;
 @import "../../common";
 

 .p{
    font-family: Open sans-serif;
    font-style:inherit;
    font-weight: 700;
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 16px;
    margin-left: 16px;
 }

 .card {
   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   align-items: flex-start;
   padding: 16px;
  
}

.file{
   padding: 18px;
  border-radius: 5px;
  padding-right: 16px;
  background: #FFCB05;
  margin-right: 20px;
  padding-left: 16px;
  padding-top: 18px;
}

.title{
   @extend .title-bcr;
   padding:8px;
   padding-right: 8px;
  margin-right: 12px;
  color:black;
  border-radius: 5px;
}

.title1{
   @extend .title1-bcr;
   padding:8px 8px 8px;
color:black;
border-radius: 5px;
}

.text{
   padding-left:16px ;
   width: 100%;
   height: 19px;
 color:black;
  margin-left:53px;
  font-size:16px;
  margin-bottom: 15px;
  font-weight: 600;
}

.txt{
font-family: 'Open Sans-serif';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 19px;
color:black;
padding-top: 16px;
}

.amount {
   align-items: flex-end;
   padding-right: 16px;
   padding-left:18px;
  color:black;
  margin-left:53px;
  font-size:16px;
  padding-bottom: 16px;

}
.price{
   
   margin-right:4ssspx;}

.button {
 @extend .button-bcr;
 border: solid;
 padding: 15px ; 
margin-left: 20px;
 width: 90%;
 font-weight: 600;
 margin-bottom: 20px;

}
.navbar{
   margin-top:10px;
   margin-bottom:8px;
   @extend .input-bcr;

}
.pagiDot{
  width:60px;
}

.inactDotStyle{
   width:60px;
 }

.paginationContainers{
   flex-direction: row;
 align-items: center;
  justify-content:center;
   padding: 0px 0px 16px 0px;
}

.img{
  
}

.image{
   width:100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;

   
}
.div{
   margin-top:8px;
   
}

.main{
   @extend .title1-bcr;
   padding:8px;
   padding-right: 8px;
padding-left:8px;
color:black;
border-radius: 5px;
margin-top: 10px;
margin-left: 20px;
flex-direction: row;
}
.main1{
   @extend .title-bcr;
   border-radius: 5px;
   color:black;
   margin-top: 10px;
   padding:8px;
   padding-right: 8px;
   padding-left:10px;
  margin-left:12px;
}
.info{
   padding-left:16px ;
   padding-top: 10px;
   color:black;
  margin-left:20px;
  font-size:19px;
  margin-bottom: 15px;
  font-weight: 600;
  flex: 1;
  flex-shrink: 1;

}
.date{
   align-items: flex-end;
   padding-right: 16px;
   padding-left:20px;
  color:black;
  margin-left:38px;
  font-size:16px;


}
.data{
   align-items: flex-end;
   padding-right: 16px;
   padding-left:16.75px;
  color:black;
  margin-left:38px;
  font-size:16px;
  margin-top: 8px;
margin-bottom: 40px;

}
.division {
   @extend .input-bcr;
   
}
.cards{
   @extend .card-bcr;
   margin-right:16px;
   margin-left:16px;
   
}
.navbar{
   margin-bottom: 8px;
}
.gap{
  
      height: 8px;
      @extend .card-bcr;
    
}