// %inheritance {
//   background-color: red;
// }
@import "../common"; 

.container {
  @extend .bcr;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;


}

// .test {
//   @extend %inheritance;
// }