@use "../../library" as themes;
@import '../../common';

.container {
  background-color: themes.$white;
  height: 100%;
  position: relative;
  padding: 20px;
}

.titleContainer {
  flex-direction: column;
  padding: 2px;
}

.title {
  @extend .h3;
  color: black;
  font-weight: 500;
  margin: 8px 0px
}

.link {
  @extend .link;
  @extend .p;
}

.p {
  @extend .p;
  flex-direction: row;
}

.formContainer {
  padding: 0px;
}

.signUp {
  width: 45%;
  padding: 15px 10px;
  margin: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
}
