@use "../../library" as themes;
@import '../../common';

.container {
 @extend .bcr;
  height: 100%;
  padding: 16px;
  padding-top: 96px;
}

.title {

  @extend .h3;
  color: black;
  height:60px;
  top: 16px;
  font-weight: 152px;
  margin: 10px 2px;
  font-size:20px;
  font-weight: 500;
  width:100%
}
.titles{
  @extend .h3;
  font-size: 15px;
  font-weight: 600;
  color: black;
  height: 30px

}

.p {
  @extend .p;
  flex-direction: row;
}

.formContainer {

  padding: 16px 0px;
}

.bottomContainer {

  position: absolute;
  bottom: 16px;
  right: 16px;
  flex-direction: row;
}

.left {
  // background-color: aqua;
  padding: 8px 0px;
}

.signUps {
  @extend .bcr;
}