
@import "../../common";

.container {
 
  display: flex;
  flex-direction: row;
justify-content:space-between ;
align-items: flex-start;
padding: 16px;
}

.CustomDropDown {
  display: flex;
  width: 80%;
  // flex:2;
  // background-color: green;
}
.image{
  // flex:1;
   height: 48;
  width: 50;
}