@use "../../library" as themes;
@import '../../common';

.container {
  @extend .bcr;

  height: 100%;
  position: relative;
  padding: 16px;

}

.titleContainer {


  flex-direction: column;
  padding: 40px 0px 0px 0px;
  margin-top: 76px;
}

.title {
  @extend .h2;
  color: black;
  font-weight: 600;
  margin: 8px 0px
}

.h3 {
  @extend .h3;
  color: black;
  font-weight: 600;
}

.p {
  @extend .p;
  flex-direction: row;
}

.formContainer {
  padding: 40px 0px 0px 0px;

}

.continue {
  position: absolute;
  bottom: 16px;
  right: 16px;


}

.categorytext {
  font-size: 24px;
  font-weight: 600px;
  color: black;

  margin: 16px;

}

.categorybutton {
  margin: 3px;
  width: 100px;
  background-color: themes.$white
}

.categorybuttonchange {
  margin: 3px;
  width: 100px;
  background-color: themes.$selectedbutton
}

.allcategorybutton {
  flex-direction: row;
  justify-content: space-between;


}