@use "../../library" as themes;
@import '../../common';

.container {
  @extend .bcr;
  height: 100%;
  position: relative;
}

.titleContainer {
  flex-direction: column;
  padding: 16px;
}

.title {
  @extend .h3;
  color: black;
  font-weight: 500;
  margin: 8px 0px
}

.link {
  @extend .link;
  @extend .p;
}

.p {
  @extend .p;
  flex-direction: row;
}

.formContainer {
  padding: 16px;
  @extend .bcr;

}

.signUp {
  width: 30%;
  padding: 14px 16px;
  margin: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.errortext {
  width: 100%;
  font-weight: 400;
  font-size: 26px;
  padding: 16px 0px;
  margin: 2px;
  background-color: themes.$errorBackground;
  align-items: center
}