@use "./library" as theme;
// @import "./theme";



.margin-top-40 {
    margin-top: 40px;
}

.margin-top-20 {
    margin-top: 20px;
}

.whiteBack {
    background-color: 'white';
}

.h1 {
    font-size: theme.$h1;
}

.h2 {
    font-size: theme.$h2;
}

.h3 {
    font-size: theme.$h3;
}

.p {
    font-size: theme.$p;
    color: theme.$black;
}

.link {
    color: theme.$primary;
}

.bcr {
    background-color: #E5E5E5;
}

.input-bcr {
    background-color: white;
}

.title-bcr {
    background: #F4777C;
}

.title1-bcr {
    background: #EAEAEA;
}

.button-bcr{
    background: white;
}

.card-bcr{
    background: #f8f8f8;
}

.footer-bcr{
  background-color: #2E3192;
    
}