@use "./library" as theme;
// @import "./theme";



.margin-top-40 {
    margin-top: 40px;
}

.margin-top-20 {
    margin-top: 20px;
}

.whiteBack {
    background-color: 'white';
}

.h1 {
    font-size: theme.$h1;
    color: theme.$black;
    font-family: 'OpenSans-Regular';
}

.h2 {
    font-size: theme.$h2;
    color: theme.$black;
    font-family: 'OpenSans-Regular';
}

.h3 {
    font-size: theme.$h3;
    color: theme.$black;
    font-family: 'OpenSans-Regular';
}

.h4 {
    font-size: theme.$h4;
    color: theme.$black;
    font-family: 'OpenSans-Regular';
}

.h5 {
    font-size: theme.$h5;
    color: theme.$black;
    font-family: 'OpenSans-Regular';
}

.h6 {
    font-size: theme.$h6;
    color: theme.$black;
    font-family: 'OpenSans-Regular';
}

.p {
    font-size: theme.$p;
    color: theme.$black;
    font-family: 'OpenSans-Regular';
}

.P {
    font-size: theme.$P;
    color: theme.$black;
    font-family: 'OpenSans-SemiBold';
}

.p1 {
    font-size: theme.$p1;
    color: theme.$black;
    font-family: 'OpenSans-Regular';
}

.p2 {
    font-size: theme.$p;
    color: theme.$black;
    font-family: 'OpenSans-SemiBold';
}

.p3 {

    font-size: theme.$p1;
    color: theme.$black;
    font-family: 'OpenSans-SemiBold';


}



.H {
    font-size: theme.$h2;
    color: theme.$black;
    font-family: 'OpenSans-Bold';
}

.link {
    color: theme.$primary;
}

.bcr {
    background-color: #E5E5E5;
}

.input-bcr {
    background-color: white;

}

.title-bcr {
    background: #F4777C;
}

.title1-bcr {
    background: #EAEAEA;
}

.button-bcr {
    background: white;

}

.card-bcr {
    background: #f8f8f8;
}

.footer-bcr {
    background-color: #2E3192;

}

.title2-bcr {
    background-color:#F3C4C5 ;
}