$background-color: #E5E5E5;

$title-bcr: #F4777C;

$tilte1-bcr: #EAEAEA;

$input-color: white;

//colors
$primary: #252775;
$white : #ffffff;
$black : #000000;
$input : #F8F8F8;
$errorBackground : #F8A4A7;
$selectedbutton : #03958A;
$disabled: #909090;


//fonts
$h1: 35;
$h2: 24;
$h3: 20;
$h4: 18;
$h5: 15;
$h6: 14;
$p: 16;
$p1: 13;




$carousel-background: #EAEAEA;