@use "../library" as themes;
@import '../common';

.container {
  padding: 14px 16px;
  border-radius: 5px;
  align-items: center;
  color:white;
}

.whiteBack {
  background-color: themes.$white;
}

.themeBack {
  background-color: themes.$primary;
}

.disabledBack{
  background-color: themes.$disabled;
}

.text {
  // color: black;
}

.white {
  color: themes.$white;
}