@import '../common';

.container {
    font-family: 'OpenSans-Regular';
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.modal {
    height: 30%;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.flex1 {
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
    margin-left: 18px;
    margin-right: 18px;

}

.title {
    @extend .P;

}

.close {
    @extend .p;

}

.line {
    margin-top: 10px;
    height: 3px;
    width: 100%;
    background-color: #f8f8f8;
}

.head {
    @extend .p;
    font-weight: 600;
    margin-top: 16px;
    margin-left: 16px;


}

.subhead {
    font-weight: 400;
    font-size: 14px;
    margin-left: 16px;
    margin-top: 6px;

}

.CustomButton {
    width: 90%;
    position: absolute;
    margin-left: 16px;
    bottom: 8;
    align-items: center;


}