@use "../library" as themes;
@import '../common';

.container {
    flex: 1;
    align-items: center;
    justify-content: flex-end;

}

.modal {
    height: 85%;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.flex1 {
    flex-direction: row;
    padding: 10px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #f8f8f8
}

.head {
    @extend .h2;
    margin-left: 5px;
    font-weight: 700;

}

.close {
    @extend .h4;
    margin-top: 2px;
    margin-left: 74%;

}

.topic {
    margin-top: 5%;
    margin-left: 16px;
    @extend .h3;
    font-weight: 700;

}

.p {
    margin-top: 3px;
    margin-left: 18px;
    @extend .p;

}

.data {


    border-radius: 5px;
    background-color: #f8f8f8;
    flex-direction: row;

    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 18px;
    justify-content: space-between;
    align-items: center;

}

.title1 {
    margin-top: 10px;

    font-weight: 700;
    @extend .h3
}

.title2 {
    margin-top: 12px;

    font-weight: 600;
    @extend .h4;
    margin-left: 15px;
}

.time {
    margin-top: 6px;

    margin-left: 20px;
    @extend .p1;
    margin-bottom: 15px;
}


.CustomButton {
    height: 45%;

    margin-top: 20px;
    color: white;
}

.clockicon {
    margin-left: 5px;
    margin-top: 5px;
    width: 20px;
    height: 20px;


}

.iconback {
    margin-top: 12px;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: #eaeaea;
}

.flex3 {
    flex-direction: row;
}