@use "../library" as themes;
@import '../common';

.container {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.modal {
    height: 80%;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.flex1 {
    flex-direction: row;
    justify-content: space-between;
}

.flex2 {
    flex-direction: row;
    position: absolute;
    margin-left: 20px;
    bottom: 16;
}

.flex3 {
    flex-direction: row;
}

.CustomButton1 {
    border: 1px;
    width: 46%;

}

.CustomButton2 {
    border: 1px;
    margin-left: 15px;
    width: 46%;
}

.title {

    @extend .P;
    margin-top: 15px;
    margin-left: 16px;
}

.close {
    @extend .p;
    margin-right: 26px;
    margin-top: 15px;

}

.line {
    margin-top: 10px;
    width: 100%;
    height: 3px;
    background-color: #f8f8f8;
}



.category {
    @extend .P;
    margin: 16px;
    margin-left: 16px;
}

.category1 {
    margin-left: 16px;
}

.category2 {
    @extend .h6;
    margin-top: 7px;
    margin-bottom: 15px;
}

.category3 {
    @extend .h6;

    margin-top: 7px;
}