@use "../library" as themes;
@import '../common';

.mainContainer {
  margin: 6px 0px;
}

.container {
  background-color: themes.$input;
  border-radius: 5px;
  // margin: 4px 0px;
  position: relative;


}

.errorContainer {
  background-color: themes.$input;
  border-radius: 5px;
  margin: 4px 0px;
  position: relative;
  color: crimson;
  border: 1px solid crimson;
}

.input {
  padding: 8px 24px;


}

.eye {
  position: absolute;
  right: 8px;
  bottom: 30%;
  z-index: 1;
  // background-color: green;
  height: 1rem;
  width: 2rem;
}

.errorText {
  color: crimson;

}

.errorTexts {
  color: crimson;
  padding: 8px 24px;
}