.container {
    flex: 1;
    align-items: center;
    justify-content: flex-end;

}

.modal {
    height: 85%;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.flex1 {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;


}