@use "../../library" as themes;
@import "../../common";



.mainContainer {
  background-color: white;
  
}

.filterDiv{
    flex-direction: row;
  }

.left {

    padding: 15px 14px;
     margin-top: 40px;
     flex-direction: row;
 
 }
 .p {
   font-family: Open sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 25px;
   margin-left: 18px;
 }
 .filter {
   margin-left: 170px;
   margin-right: 18px;
   margin-top: 47px;
   height: 30px;
   width: 30px;
 
 }

.searchandfilter {
  flex-direction: row;
  // padding: 8px;
 
}

.search {
  height: 55px;
  width: 45px;
  background-color: #F8F8F8;
  margin-top: 6px;
  padding-left: 16px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left:16px;
}
.searchicon {
  height: 18px;
  width: 18px;
  margin-top: 18px;
  // margin-left:16px;

}


.CustomTextInput {
  width: 315px;
  height: 55px;
  color: black;
margin-top: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
