@use "../../library" as themes;
@import '../../common';

.container {
@extend .bcr;
    height: 100%;
    position: relative;
}

.lastcontainer {
    padding: 16px;
    margin: 2px;
    flex-direction: row;
}

.titleContainer {
    flex-direction: column;
    padding: 16px;
}

.title {
    @extend .h2;
    color: black;
    font-weight: 600;
    margin: 8px 0px
}

.link {
    @extend .link;
    @extend .p;
    font-weight: 400;
}

.link1 {

    @extend .link;
    @extend .p;
    font-weight: 400;
}

.p {
    @extend .p;
    flex-direction: row;
    text-align:center;
}

.formContainer {
    padding: 16px;
}

.signIn {
    width: 30%;
    padding: 14px 16px;
    margin: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.errortext{
    width: 100%;
    font-weight:400;
    font-size:26px;
    padding: 16px 0px;
    margin: 2px;
    border-radius: 5px;
    background-color: #F8A4A7;
    text-align: center;
}
.errorContainer{
    padding: 0px 32px;
}